/* IMPORTING GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* HEADER */
header {
	color: white;
	font-size: 1.5em;
	background-color: #4268f4;
}

header h1 {
	padding-left: 0.5em;
}

#slogan {
	font-size: 50%;
}

/* NAVIGATION */
nav {
	background-color: #4268f4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	font-size: 24px;
	padding: 0 1em 0 1em;
	letter-spacing: 1px;
}

nav ul li:hover {
	background-color: #42a5f5;
}

nav ul li a {
    text-decoration: none;
    color: white;
}	

/* ------ SECTION BANNER ------ */
.banner-container {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner {
	width: 100%;
	height: 65%;
}

/* ------ PRODUCT SECTION ------- */
.products {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	display: flex;
	flex-direction: column;
	padding: 2%;
	margin: 5px;
	flex: 1 16%;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.product-image img {
	max-width: 100%;	
}

.product-info {
	margin-top: auto;
	text-align: center;
}

.product-section h2 {
	margin: 10px 0 5px 10px;
}

.product-quantity {
	text-align: center;
	width: 10%;
}

/* ------ REGISTRATION & LOGIN ------ */
.registration-container, .login-container, .profile-container {
	background-color: #4268f4;
	text-align: center;
	margin: 100px 0;
}

.title {
	font-weight: 300;
	font-size: 3em;
}

.title a {
	text-decoration: none;
	color: white;
}

.form-container {
	background-color: #4268f4;
	position: relative;
	max-width: 400px;
	margin: 0 auto;
}

.text-field {
	background-color: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

#registration, #login, #update-profile {
	background-color: #F9F9F9;
	padding: 1em;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-title {
	font-weight: 300;
	margin-bottom: 10px;
}

.error {
	margin: 0px 0 15px 0;
	color: red; 
	font-size: 1em;
}

.success {
	margin: 0px 0 15px 0;
	color: green; 
	font-size: 1em;
}

.message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.message a {
	text-decoration: none;
	color: black;
}

.button {
  	background-color: #4CAF50;
	color: #FFFFFF;
  	margin: 0 0 5px;
  	border: 0;
  	padding: 15px;
  	font-size: 16px;
	width: 100%;
  	cursor: pointer;
}