/* IMPORTING GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

* {
	font-family: Roboto;
	margin: 0;
	padding: 0;
}

/* HEADER */
header {
	font-size: 1.5em;
	background-color: #64b5f6;
}

header h1 {
	padding-left: 0.5em;
}

#slogan {
	font-size: 50%;
}

/* NAVIGATION */
nav {
	background-color: #64b5f6;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}

nav ul li {
	font-size: 24px;
	letter-spacing: 1px;
	width: 100%;
}

nav ul li:hover {
	background-color: #42a5f5;
}

nav ul li a {
	display: flex;
	justify-content: center;
    text-decoration: none;
    color: black;
}